@import "vars";

body {
    height:150vh;
    width:100vw;
    margin:0;
    padding:0;
    display:grid;
    grid-template-rows: 0.2fr 0.2fr 1fr 1fr;
    background:linear-gradient($gradientColor1,$gradientColor2,$gradientColor3);
    
    header
    {
        background:rgba(0,0,0, 0.4);
        
        h1
        {
            text-transform:uppercase;
            text-align:center;
            color:#fff;
        }
    }
    
    main 
    {
        background-color:#fff;
        margin: 0 10vw 0 10vw;
        
        &>section 
        {
            h2 
            {
                text-align:center;
            }
        }
        
        section:nth-of-type(2)
        {
            display:grid;
            grid-template-columns: 1fr 1fr;
            
            &>section:first-of-type 
            {
                grid-columns: 1/2;
                padding:10px;
            }
            
            &>section:nth-of-type(2)
            {
                grid-column: 2/3;
            }
        }
    }
}